*{
    text-decoration-style: none;
    text-decoration: none;
}



.wrapper{
    position: relative;
}

.videos-container{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.container{
   width: 373px;
}

video{
    height: 210px;
    border-radius: 6px;
    position: relative;
}
video:hover{
    transition: all 300ms;
    border-radius: 0px;
}
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(-4px);
    cursor: pointer;
}
.controls:hover + .red-bar{
    transition: all .4s ease-in-out;
    height: 6px;
}

.red-bar{
    height: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.123);
    position: relative;
    z-index: 2;
}
.red-bar-background-loaded-bar{
    background-color: rgba(255, 255, 255, 0.486);
    height: 4px;
    width: 0%;
    position: absolute;
    z-index: 3;
    
}
.red-bar-background{
    background-color: rgb(255, 0, 0);
    height: 4px;
    width: 0%;
    position: absolute;
    z-index: 4;
}


